<br/><br/>See your home page data gets displayed on app.component.html 									
  <div class="col-md-6 col-md-offset-2">	
     <a class="text-right" [routerLink]="['/login']"><h3>Login</h3></a>								
							
    <h4>Angular features: replace it later  with your project home page </h4>			
      <ul class="text-success" style="font-weight: bold">								
        <li>								
            Angular Architecture								
            <ul>								
              <li>Modules</li>								
              <li>Components</li>								
              <li>Services and Dependency Injection</li>								
              <li>Models</li>								
              <li>Directives</li>								
              <li>Pipes, etc</li>								
            </ul>								
        </li>								
      </ul>		
  </div>								
 